// Base style sheet

h1, h2, h3, h4, h5, h6, p, li, td,
input, select, textarea, label, legend {font-weight: 300;}

$robin-blue: #7EC7B7;
$yellow: #FAE549;
$red: #D33C1A;
$teal: #4E9A79;
$dark-teal: #214844;
$pale-green: #CFEDAC;
$tan: #E5E5BE;
$brown: #424237;

$neg-font: 'Signika Negative', 'Helvetica', Arial, sans-serif;

.alert-box {background-color: $robin-blue; z-index: 1; }
.inline-left{
	float:left;
	margin:0 10px 10px 0;
}

.page-title {
		background: url(hero-bg.png) center top no-repeat;
		background-size: cover;
		border-bottom: 18px solid $dark-teal;

		.columns {
			background: url(mini-tree.png) 80% -30% no-repeat;
		}

		h1 {
			font-size: emCalc(36px);
			color: $pale-green;
			font-weight: 300;
			font-family: $neg-font;
			padding: 0; margin: 0 0 .5em 0;
		}

		.breadcrumbs {margin:1em 0 0; padding: 0;}
}

.content {
	background: $tan;
	padding: 2em;
}