footer {
	background: $brown;
	color: #767663;
	a {
		color: $tan;
	}
	.inline-list {
		margin: 0;
		padding: 1em 0;
		li {
			margin: 0 1.375em 0 0;
		}
	}
	.cright {
		background: url(footer-bird.png) no-repeat 15px 5px;
		p {
			padding-left: 60px;
		}
	}
}