#homepage{
	
	#hero {

		background: url(hero-bg.png) center top no-repeat;
		background-size: cover;
		text-align:center;
		margin-top: -2em;
		z-index: 10;
		position: relative;

		@media #{$small} { 
			text-align: left;
		}

		h1, h2 {
			color: $pale-green; 
			font-family: 'Signika Negative', 'Helvetica', Arial, sans-serif;
			@media #{$small} { 
				margin-left: 18px;
			}
		}
		h1 {
			font-size: emCalc(36px); 
			margin-bottom: 0; 
			line-height: 1em; 
			margin-top: 0;
			@media #{$small} {
				margin-top: 6em;
			}
		}
		h2 {font-size: emCalc(24px);}

	}

	.home-panel {
		margin-bottom:0;
		min-height:250px;
		padding-top:1em; 
		background:rgba(0,0,0,.2);

	}

	#panel-0 {
		background:none;
		border: none;
	}

	.closeButton {
		position: absolute;
		top: 0;
		right: 5px;
		color:#fff;
		background:#66;
		border-radius:5px;
		padding:.5rem;
	}


	.home-bar {

		background:#222;

		h4 {
			color:#ddd;
			text-align:center;
			padding:.5rem 0;
			margin:0 auto;
			border-right:1px solid #999;			
			


			a {
				display:block;
				color:#aaa;
				transition:all .2s ease-in;
			}

			a:hover,a:active,a.active {
				color:#fff;
			}

		}

		h4:last-child {
			border-right:none;
		}

	}

	#is-it-right {

		background:#fff;
		padding:3em 0;
		text-align:center;
	}

	#home-events {
		background:#ddd;
		padding:2em 0;

		img {
			margin-top:10px;
		}

		h4 {
			border-bottom:1px solid #999;
		}

		.large-12 {
			text-align:center;
			margin-top: 3em;
		}

		.large-8 li{

		}
	}
}