#internal-template{
	#page-title {
		background: url(hero-bg.png) center top no-repeat;
		background-size: cover;
		padding-top: 24px;
		text-align: center;
		border-bottom: 18px solid #183B37;
		h1 {
			font-size: emCalc(48px);
			color: $pale-green;
			font-weight: 300;
			font-family: $neg-font;
			margin-top: 0;
		}
		img {
			display: block;
		}
		.breadcrumbs {
			margin:1em 0 0 0; padding: 0;
			color: $dark-teal;
			font-size: 0.6875em;
			a {
				font-size: 1em;
				color: $dark-teal;
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.panel{
		margin:3em auto;
	
		img{
			display:block;
			margin:0 auto;
		}
	
		.lead{
			text-align:center;
		}

	}
	.page-intro {
		background: #214844;
		text-align: center;
		p {
			font-size: emCalc(30px);
			color: $teal;
			line-height: 1.3em;	
			margin: 1em 2em;
		}
	}

	.content p {
		font-size: emCalc(18px);
		color: #41412F;
		line-height: emCalc(36px);
	}
}

.sidebar{
	padding:2rem 0;
	h5 {
		font-size: emCalc(24px);
		color: #214944;
		line-height: 25px;
		border-bottom: solid 4px #D9D9AC;
		padding: 6px 0;
	}
	p {
		font-size: emCalc(20px);
		color: $dark-teal;
		line-height: emCalc(25px);
	}
	ul {
		margin-left: 1.1em;
	}
}
@media only screen and (min-width: 768px) {
	#internal-template #page-title {
		text-align: left;
		.row {
			background: url(mini-tree.png) 80% bottom no-repeat;
		}
	} 
	
}